*.user
*.suo 
*.pdb
*.ilk
*.obj
*.ncb
*.suo
*.exe

/arPlusApp/Debug
/arPlusApp/Release
/arPlusApp/arPlusApp/Release
/arPlusApp/arPlusApp/Debug
/esmTracking/arPlusApp/Debug
/esmTracking/arPlusApp/Release
/esmTracking/esmSample/Debug
/esmTracking/esmSample/Release

/OpenCVExperiments/LucasKanade/Debug
/OpenCVExperiments/LucasKanade/Release
/OpenCVExperiments/LucasKanade/LucasKanade/Debug
/OpenCVExperiments/LucasKanade/LucasKanade/Release

/OpenCVExperiments/ASEF/Debug
/OpenCVExperiments/ASEF/ASEF/Debug
/OpenCVExperiments/NewKMeans/NewKMeans/Debug
/OpenCVExperiments/NewKMeans/NewKMeans/Release
/OpenCVExperiments/NewKMeans/Debug
/OpenCVExperiments/NewKMeans/Release