*.user
*.suo 
*.pdb
*.ilk
*.obj
*.ncb
*.suo
*.exe

/arPlusApp/Debug
/arPlusApp/Release
/arPlusApp/arPlusApp/Release
/arPlusApp/arPlusApp/Debug
/esmTracking/arPlusApp/Debug
/esmTracking/arPlusApp/Release
/esmTracking/esmSample/Debug
/esmTracking/esmSample/Release
