*.user
*.suo 
*.pdb
*.ilk
*.obj
*.ncb
*.suo
*.exe
*.idb
*.dep
*.manifest.res
*Buildlog.htm
*.manifest
*.sdf
*.ipch
*.slnx

cinder_0.8.3_vc2008/docs
_common/SDAR

/arPlusApp/Debug
/arPlusApp/Release
/arPlusApp/arPlusApp/Release
/arPlusApp/arPlusApp/Debug
/esmTracking/arPlusApp/Debug
/esmTracking/arPlusApp/Release
/esmTracking/esmSample/Debug
/esmTracking/esmSample/Release

/OpenCVExperiments/LucasKanade/Debug
/OpenCVExperiments/LucasKanade/Release
/OpenCVExperiments/LucasKanade/LucasKanade/Debug
/OpenCVExperiments/LucasKanade/LucasKanade/Release

/OpenCVExperiments/ASEF/Debug
/OpenCVExperiments/ASEF/ASEF/Debug
/OpenCVExperiments/NewKMeans/NewKMeans/Debug
/OpenCVExperiments/NewKMeans/NewKMeans/Release
/OpenCVExperiments/NewKMeans/Debug
/OpenCVExperiments/NewKMeans/Release
/pclExperiments/pcd2ply/media/bunny.pcd.ply
/pclExperiments/pcd2ply/media/bunny.ply
/NghiaAR/Debug
/NghiaAR/Release
/_cinder_app/BookAR/vc9/bin/ModelDLL.dll
/_cinder_app/BookAR/vc9/Debug/Resources.res
/_cinder_app/BookAR/vc9/Release/Resources.res
/_cinder_app/BookAR/BookAR_bin
/cinder_0.8.3_vc2008/lib/cinder.lib
/cinder_0.8.3_vc2008/lib/cinder_d.lib