[submodule "cinder_0.8.3_vc2008/blocks/Cinder-DirectX"]
	path = cinder_0.8.3_vc2008/blocks/Cinder-DirectX
	url = git@github.com:vinjn/Cinder-DirectX.git
[submodule "cinder_0.8.3_vc2008/blocks/Cinder-MeshHelper"]
	path = cinder_0.8.3_vc2008/blocks/Cinder-MeshHelper
	url = git@github.com:vinjn/Cinder-MeshHelper.git
[submodule "cinder_0.8.3_vc2008/blocks/tuio/samples/TuioGateway"]
	path = cinder_0.8.3_vc2008/blocks/tuio/samples/TuioGateway
	url = git@github.com:vinjn/TuioGateway.git
[submodule "_common/CImg"]
	path = _common/CImg
	url = https://github.com/hassemlal/CImg
[submodule "cinder_0.8.3_vc2008/blocks/ciUI"]
	path = cinder_0.8.3_vc2008/blocks/ciUI
	url = git@github.com:vinjn/ciUI.git
[submodule "Cinder-Samples"]
	path = Cinder-Samples
	url = git@github.com:paulhoux/Cinder-Samples.git
[submodule "cinder_0.8.3_vc2008/blocks/ciSharedMemory"]
	path = cinder_0.8.3_vc2008/blocks/ciSharedMemory
	url = https://github.com/vinjn/ciSharedMemory.git
